header {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

a {
  color: rgba(255, 0, 0, 0.747);
}

header nav {
  font-family: "Krub", sans-serif;
  font-variant: small-caps;
  text-align: center;
  font-size: 20px;
}

body {
  font-family: "Krub", sans-serif;
  background-image: url("bulbBkg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Krub", sans-serif;
  position: relative;
  font-size: 20px;
}

p {
  font-family: "Krub", sans-serif;
  text-align: center;
  width: 50pc;
}

ul {
  font-family: "Krub", sans-serif;
}

ol {
  font-family: "Krub", sans-serif;
}

.bio {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ol li:first-child {
  margin-left: -50px;
  position: relative;
  font-size: 50px;
  color: rgba(255, 0, 0, 0.747);
  font-style: oblique;
  width: 500px;
}

#top10 {
  padding-left: 50px;
  display: flex;
  float: none;
  width: 250px; /* you could actually just change it to 0px */
  margin: 10px auto;
}

.titles {
  font-size: 25px;
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subtitles {
  font-family: "Krub", sans-serif;
  font-variant: small-caps;
  font-size: 20px;
}

.lists {
  margin-left: auto;
  margin-right: auto;
  width: 440px;
}

footer {
  height: 50px;
  background-color: transparent;
  position: fixed;
  bottom: 100px;
}

b {
  font-family: "Krub", sans-serif;
}